body {
	overflow-x: hidden;
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	font-size: 14px;
	line-height: 1.75;

	&.large {
		font-size: 16px;
	}
}

a {
	outline: none;

	&:hover,
	&:focus,
	&:active,
	&.active {
		outline: none;
	}

	color: #864337;

	&:hover,
	&:focus,
	&:active,
	&.active {
		color: #623128;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: #eeeeee;
}

.bg-darkest-gray {
	background-color: #222222;
}

.text-muted {
	color: #777777;
}

.text-primary {
	color: #864337;
}

.btn-primary {
	color: white;
	background-color: #864337;
	border-color: #864337;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;

	&:focus,
	&.focus {
		color: white;
		background-color: #623128;
		border-color: #2c1612;
	}

	&:hover,
	&:active,
	&.active {
		color: white;
		background-color: #623128;
		border-color: #5b2d25;
	}
}

.open>.btn-primary.dropdown-toggle {
	color: white;
	background-color: #623128;
	border-color: #5b2d25;
}

.btn-primary {
	&:active {

		&:hover,
		&:focus,
		&.focus {
			color: white;
			background-color: #49241e;
			border-color: #2c1612;
		}
	}

	&.active {

		&:hover,
		&:focus,
		&.focus {
			color: white;
			background-color: #49241e;
			border-color: #2c1612;
		}
	}
}

.open>.btn-primary.dropdown-toggle {

	&:hover,
	&:focus,
	&.focus {
		color: white;
		background-color: #49241e;
		border-color: #2c1612;
	}
}

.btn-primary {

	&:active,
	&.active {
		background-image: none;
	}
}

.open>.btn-primary.dropdown-toggle {
	background-image: none;
}

.btn-primary {
	&.disabled {

		&:hover,
		&:focus,
		&.focus {
			background-color: #864337;
			border-color: #864337;
		}
	}

	&[disabled] {

		&:hover,
		&:focus,
		&.focus {
			background-color: #864337;
			border-color: #864337;
		}
	}
}

fieldset[disabled] .btn-primary {

	&:hover,
	&:focus,
	&.focus {
		background-color: #864337;
		border-color: #864337;
	}
}

.btn-primary .badge {
	color: #864337;
	background-color: white;
}

.btn-xl {
	color: white;
	background-color: #864337;
	border-color: #864337;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;

	&:focus,
	&.focus {
		color: white;
		background-color: #623128;
		border-color: #2c1612;
	}

	&:hover,
	&:active,
	&.active {
		color: white;
		background-color: #623128;
		border-color: #5b2d25;
	}
}

.open>.btn-xl.dropdown-toggle {
	color: white;
	background-color: #623128;
	border-color: #5b2d25;
}

.btn-xl {
	&:active {

		&:hover,
		&:focus,
		&.focus {
			color: white;
			background-color: #49241e;
			border-color: #2c1612;
		}
	}

	&.active {

		&:hover,
		&:focus,
		&.focus {
			color: white;
			background-color: #49241e;
			border-color: #2c1612;
		}
	}
}

.open>.btn-xl.dropdown-toggle {

	&:hover,
	&:focus,
	&.focus {
		color: white;
		background-color: #49241e;
		border-color: #2c1612;
	}
}

.btn-xl {

	&:active,
	&.active {
		background-image: none;
	}
}

.open>.btn-xl.dropdown-toggle {
	background-image: none;
}

.btn-xl {
	&.disabled {

		&:hover,
		&:focus,
		&.focus {
			background-color: #864337;
			border-color: #864337;
		}
	}

	&[disabled] {

		&:hover,
		&:focus,
		&.focus {
			background-color: #864337;
			border-color: #864337;
		}
	}
}

fieldset[disabled] .btn-xl {

	&:hover,
	&:focus,
	&.focus {
		background-color: #864337;
		border-color: #864337;
	}
}

.btn-xl .badge {
	color: #864337;
	background-color: white;
}

.btn {

	&:focus,
	&:active,
	&.active,
	&:active:focus {
		outline: none;
	}
}

.navbar-custom {
	background-color: #222222;
	border-color: transparent;
	font-weight: 700;
	text-shadow: 0.5px 0.5px #000;

	.navbar-brand {
		color: #864337;
		font-size: 2em;
		font-family: 'Ranga', cursive;

		&:hover,
		&:focus,
		&:active,
		&.active {
			color: #623128;
		}
	}

	.navbar-collapse {
		border-color: rgba(255, 255, 255, 0.98);
	}

	.navbar-toggle {
		background-color: #864337;
		border-color: #864337;
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		color: white;
		font-size: 12px;

		&:hover,
		&:focus {
			background-color: #864337;
		}
	}

	.nav {
		margin-right: 15px;

		li a {
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 1px;
			color: white;

			&:hover,
			&:focus {
				color: #864337;
				outline: none;
			}
		}
	}

	.navbar-nav>.active>a {
		border-radius: 0;
		color: white;
		background-color: #864337;

		&:hover,
		&:focus {
			color: white;
			background-color: #623128;
		}
	}

	&.affix-top {
		background-color: rgba(0, 0, 0, 0.25);
	}
}

@media (min-width: 768px) {
	.navbar-custom {
		background-color: transparent;
		padding: 25px 0;
		-webkit-transition: padding 0.3s;
		-moz-transition: padding 0.3s;
		transition: padding 0.3s;
		border: none;

		.navbar-brand {
			font-size: 2.5em;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
		}

		.navbar-nav>.active>a {
			border-radius: 3px;
		}
	}
}

@media (min-width: 768px) {
	.navbar-custom.affix {
		background-color: #222222;
		padding: 10px 0;
		text-shadow: -1px 1px #aaa;
	}
}

header {
	background-image: url("../img/header-lg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: black;

	.intro-text {
		padding-top: 100px;
		padding-bottom: 50px;

		.intro-lead-in {
			font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
			background-color: rgba(255, 255, 255, 0.7);
			font-style: italic;
			font-size: 22px;
			line-height: 22px;
			margin-bottom: 25px;
			padding: 50px;

			img {
				display: inline;
			}
		}

		.intro-heading {
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 50px;
			line-height: 50px;
			margin-bottom: 25px;
		}
	}
}

@media (min-width: 768px) {
	header .intro-text {
		padding-top: 300px;
		padding-bottom: 200px;

		.intro-lead-in {
			font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-style: italic;
			font-size: 40px;
			line-height: 40px;
			margin-bottom: 25px;
		}

		.intro-heading {
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 75px;
			line-height: 75px;
			margin-bottom: 50px;
		}
	}
}

section {
	padding: 100px 0;

	h2.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	h3.section-subheading {
		font-size: 16px;
		font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		margin-bottom: 75px;
	}
}

@media (min-width: 768px) {
	section {
		padding: 150px 0;
	}
}

.service-heading {
	margin: 15px 0;
	text-transform: none;
}

.portfolio {
	.portfolio-item {
		margin: 0 0 15px;
		right: 0;

		.portfolio-link {
			display: block;
			position: relative;
			max-width: 400px;
			margin: 0 auto;

			.portfolio-hover {
				background: rgba(134, 67, 55, 0.1);
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all ease 0.5s;
				-webkit-transition: all ease 0.5s;
				-moz-transition: all ease 0.5s;

				&:hover {
					opacity: 1;
				}

				.portfolio-hover-content {
					position: absolute;
					width: 100%;
					height: 20px;
					font-size: 20px;
					text-align: center;
					top: 50%;
					margin-top: -12px;
					color: white;

					i {
						margin-top: -12px;
					}

					h3,
					h4 {
						margin: 0;
					}
				}
			}
		}

		.portfolio-caption {
			max-width: 400px;
			margin: 0 auto;
			background-color: white;
			padding: 25px;

			h4 {
				text-transform: none;
				margin: 0;
				margin-bottom: 15px;
				text-align: center;
			}

			p {
				font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-style: italic;
				font-size: 16px;
				margin: 0;
				line-height: 1.6em;
			}

			ul {
				padding: 25px;
			}
		}
	}

	* {
		z-index: 2;
	}
}

@media (min-width: 767px) {
	.portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}

.portfolio-modal {
	.modal-dialog {
		margin: 0;
		height: 100%;
		width: auto;
	}

	.modal-content {
		border-radius: 0;
		background-clip: border-box;
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		min-height: 100%;
		padding: 100px 0;
		text-align: center;

		h2 {
			margin-bottom: 15px;
			font-size: 3em;
		}

		p {
			margin-bottom: 30px;

			&.item-intro {
				margin: 20px 0 30px;
				font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-style: italic;
				font-size: 16px;
			}
		}

		ul.list-inline {
			margin-bottom: 30px;
			margin-top: 0;
		}
	}

	.close-modal {
		position: absolute;
		width: 75px;
		height: 75px;
		background-color: transparent;
		top: 25px;
		right: 25px;
		cursor: pointer;

		&:hover {
			opacity: 0.3;
		}

		.lr {
			height: 75px;
			width: 1px;
			margin-left: 35px;
			background-color: #222222;
			transform: rotate(45deg);
			-ms-transform: rotate(45deg);

			/* IE 9 */
			-webkit-transform: rotate(45deg);

			/* Safari and Chrome */
			z-index: 1051;

			.rl {
				height: 75px;
				width: 1px;
				background-color: #222222;
				transform: rotate(90deg);
				-ms-transform: rotate(90deg);

				/* IE 9 */
				-webkit-transform: rotate(90deg);

				/* Safari and Chrome */
				z-index: 1052;
			}
		}
	}

	.modal-backdrop {
		opacity: 0;
		display: none;
	}
}

.timeline {
	list-style: none;
	padding: 0;
	position: relative;

	&:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: "";
		width: 2px;
		background-color: #f1f1f1;
		left: 40px;
		margin-left: -1.5px;
	}

	>li {
		margin-bottom: 50px;
		position: relative;
		min-height: 50px;

		&:before {
			content: " ";
			display: table;
		}

		&:after {
			content: " ";
			display: table;
			clear: both;
		}

		.timeline-panel {
			width: 100%;
			float: right;
			padding: 0 20px 0 100px;
			position: relative;
			text-align: left;

			&:before {
				border-left-width: 0;
				border-right-width: 15px;
				left: -15px;
				right: auto;
			}

			&:after {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
		}

		.timeline-image {
			left: 0;
			margin-left: 0;
			width: 80px;
			height: 80px;
			position: absolute;
			z-index: 100;
			background-color: #864337;
			color: white;
			border-radius: 100%;
			border: 7px solid #f1f1f1;
			text-align: center;

			h4 {
				font-size: 10px;
				margin-top: 12px;
				line-height: 14px;
			}
		}

		&.timeline-inverted>.timeline-panel {
			float: right;
			text-align: left;
			padding: 0 20px 0 100px;

			&:before {
				border-left-width: 0;
				border-right-width: 15px;
				left: -15px;
				right: auto;
			}

			&:after {
				border-left-width: 0;
				border-right-width: 14px;
				left: -14px;
				right: auto;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.timeline-heading h4 {
		margin-top: 0;
		color: inherit;

		&.subheading {
			text-transform: none;
		}
	}

	.timeline-body> {

		p,
		ul {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 768px) {
	.timeline {
		&:before {
			left: 50%;
		}

		>li {
			margin-bottom: 100px;
			min-height: 100px;

			.timeline-panel {
				width: 41%;
				float: left;
				padding: 0 20px 20px 30px;
				text-align: right;
			}

			.timeline-image {
				width: 100px;
				height: 100px;
				left: 50%;
				margin-left: -50px;

				h4 {
					font-size: 13px;
					margin-top: 16px;
					line-height: 18px;
				}
			}

			&.timeline-inverted>.timeline-panel {
				float: right;
				text-align: left;
				padding: 0 30px 20px 20px;
			}
		}
	}
}

@media (min-width: 992px) {
	.timeline>li {
		min-height: 150px;

		.timeline-panel {
			padding: 0 20px 20px;
		}

		.timeline-image {
			width: 150px;
			height: 150px;
			margin-left: -75px;

			h4 {
				font-size: 18px;
				margin-top: 30px;
				line-height: 26px;
			}
		}

		&.timeline-inverted>.timeline-panel {
			padding: 0 20px 20px;
		}
	}
}

@media (min-width: 1200px) {
	.timeline>li {
		min-height: 170px;

		.timeline-panel {
			padding: 0 20px 20px 100px;
		}

		.timeline-image {
			width: 170px;
			height: 170px;
			margin-left: -85px;

			h4 {
				margin-top: 40px;
			}
		}

		&.timeline-inverted>.timeline-panel {
			padding: 0 100px 20px 20px;
		}
	}
}

.team-member {
	text-align: center;
	margin-bottom: 50px;

	img {
		margin: 0 auto;
		border: 7px solid white;
	}

	h4 {
		margin-top: 25px;
		margin-bottom: 0;
		text-transform: none;
	}

	p {
		margin-top: 0;
	}
}

aside.clients {
	overflow: hidden;
	overflow-y: auto;

	img {
		margin: 50px auto;
	}

	.dark {
		background-color: #000;
	}
}

section#contact {
	background-color: #222222;
	color: white;

	.contact .fa {
		margin-right: 5px;
	}

	form {
		margin-top: 25px;
	}

	.form-group {
		margin-bottom: 25px;

		input,
		textarea {
			padding: 20px;
		}

		input.form-control {
			height: auto;
		}

		textarea.form-control {
			height: 236px;
		}
	}

	.form-control:focus {
		border-color: #864337;
		box-shadow: none;
	}

	::-webkit-input-placeholder {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #eeeeee;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #eeeeee;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #eeeeee;
	}

	:-ms-input-placeholder {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		color: #eeeeee;
	}

	.text-danger {
		color: #e74c3c;
	}
}

ul.social-buttons {
	margin-bottom: 0;

	li a {
		display: block;
		background-color: #222222;
		height: 40px;
		width: 40px;
		border-radius: 100%;
		font-size: 20px;
		line-height: 40px;
		color: white;
		outline: none;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;

		&:hover,
		&:focus,
		&:active {
			background-color: #864337;
		}
	}
}

footer {
	padding: 25px 0;
	text-align: center;

	.contact .fa {
		margin-right: 5px;
	}

	span.copyright {
		line-height: 40px;
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		text-transform: none;
	}

	ul.quicklinks {
		margin-bottom: 0;
		line-height: 40px;
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		text-transform: none;
	}
}

#bathrooms {
	background-image: url("../img/bathroom-lg.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: #000;

	.banner {
		background-color: rgba(255, 255, 255, 0.8);
		padding: 10px;
	}
}